.container{
	width: 90%;
	margin: auto;
}

table {
	width: 100%;
}

mat-form-field{
	width: 100%;
}

button {
	width: 100%;
	margin-bottom: 1rem;
}

h1{
	text-align: center;
	width: 100%;
  font-weight: bold;
  color: black;
  font-size: 1.5rem;;
}

mat-option {
  font-size: .7rem;
}

.periodo{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.periodo mat-form-field{
  width: 33%;
}

.periodo button{
  height: 3rem;
  width: 20%;
}

.tabela{
  margin-bottom: 1rem;
}

th {
  text-align: center;
  width: 20%;
}

td{
  text-align: center;
}

