.container{
	width: 90%;
	margin: auto;
  color: white;
}

table {
	margin: auto;
}

mat-form-field{
	width: 100%;
	margin: auto;
}


th {
  text-align: center;
  width: 20%;
}

td{
  text-align: center;
}

button {
	width: 100%;
	margin-bottom: 1rem;
}

h1{
	text-align: center;
	width: 100%;
  font-weight: bold;
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
}

td button{
  width: 20%;
  margin: .1rem;
}
