.container{
	width: 90%;
	margin: auto;
  color: white;
}

table {
	width: 100%;
}

mat-form-field{
	width: 100%;
}

button {
	width: 100%;
	margin-bottom: 1rem;
}

h1{
	text-align: center;
	width: 100%;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.edit{
	color: rgb(140, 163, 204)
}

.delete{
	color: rgb(138, 43, 43);
}

