.container{
	width: 90%;
	margin: auto;
}

table {
	width: 100%;
}

mat-form-field{
	width: 100%;
}

button {
	width: 100%;
	margin-bottom: 1rem;
}

h1{
	width: 100%;
	text-align: center;
}

.edit{
	color: rgb(140, 163, 204)
}

.delete{
	color: rgb(138, 43, 43);
}
