.container{
	width: 35rem;
	margin: auto;
	padding: 2rem;
	border-radius: .6rem;
}

.fullWidth{
	width: 100%;
}

h1{
	text-align: center;
	width: 100%;
  font-weight: bold;
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
}

img{
	height: 8rem;
	margin: auto;
}

.section{
	margin-bottom: 1rem;
	display: flex;
	justify-content: space-evenly;
}

button{
	margin-top: .5rem;
}

mat-icon{
	opacity: .8;
}
