<div class="container mat-elevation-z8">
	<h1 class="full-width">Criando profissional</h1>

	<form class="form">
		<div class="agrupado">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Nome</mat-label>
        <input [(ngModel)]="profissional.nome" name="nome" [formControl]="nome" required matInput placeholder="Ex. Jorge">
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>

      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Sobrenome</mat-label>
        <input [(ngModel)]="profissional.sobrenome" name="nome" [formControl]="sobrenome" required matInput placeholder="Ex. Silva">
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>
		</div>

    <div class="agrupado">
      <mat-form-field class="fullWidth" appearance="outline">
        <mat-label>E-mail</mat-label>
        <input
            [formControl]="email"
            [(ngModel)]="profissional.email"
            name="email"
            required="true"
            matInput
            placeholder="Ex.. fulano@mail.com"
        />
        <mat-icon matSuffix>email</mat-icon>
      </mat-form-field>

      <mat-form-field class="fullWidth" appearance="outline">
        <mat-label>CPF</mat-label>
        <input
            [(ngModel)]="profissional.cpf"
            name="nome"
            mask="000.000.000-00"
            [formControl]="cpf"
            required="true"
            matInput
            placeholder="Ex.. 123.123.123-12"
        />
        <mat-icon matSuffix>pin</mat-icon>
      </mat-form-field>
		</div>

    <div class="agrupado">
      <mat-form-field class="fullWidth" color="primary" appearance="outline">
        <mat-label>Data Admissão</mat-label>
        <input [(ngModel)]="profissional.data_admissao" [formControl]="data_admissao" matInput type="date" name="data_admissao" id="data_admissao">
        <mat-icon matSuffix>calendar_month</mat-icon>
      </mat-form-field>

      <mat-form-field class="fullWidth" color="primary" appearance="outline">
        <mat-label>Data Nascimento</mat-label>
        <input [(ngModel)]="profissional.data_nascimento" [formControl]="data_nascimento" matInput type="date" name="data_nascimento" id="data_nascimento">
        <mat-icon matSuffix>calendar_month</mat-icon>
      </mat-form-field>
		</div>
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Selecione um Usuário</mat-label>
      <mat-select [(ngModel)]="profissional.usuario" name="usuario" [formControl]="usuario" required>
        <mat-option *ngFor="let u of usuarios" value="{{u.id_usuario}}">{{ u.usuario }}</mat-option>
      </mat-select>
      <mat-icon matSuffix>account_circle</mat-icon>
    </mat-form-field>
	</form>
	<div class="button">
		<button [disabled]="!validaCampos()" (click)="update()" class="mat-elevation-z4" mat-raised-button color="primary">Atualizar</button>
		<button routerLink="../../" class="mat-elevation-z4" mat-raised-button color="warn">Cancelar</button>
	</div>
</div>
