<mat-drawer-container class="container" autosize>

	<mat-drawer #drawer class="sidenav" mode="side">
	  <mat-nav-list class="nav-list">
      <a mat-list-item routerLink="home">
        <p><i class="material-icons">fitness_center</i>Acessos</p>
      </a>

      <a mat-list-item routerLink="pagamentos">
        <p><i class="material-icons">payments</i>Pagamentos</p>
      </a>

      <a mat-list-item routerLink="clientes">
        <p><i class="material-icons">groups</i>Clientes</p>
      </a>

      <a mat-list-item routerLink="planos">
        <p><i class="material-icons">redeem</i>Planos</p>
      </a>

      <a mat-list-item routerLink="profissionais">
        <p><i class="material-icons">manage_accounts</i>Profissionais</p>
      </a>

      <a mat-list-item routerLink="usuarios">
        <i class="material-icons">account_circle</i>
        Usuários
      </a>

      <a mat-list-item href="https://github.com/janioofi/gymsys_front" target="_blank">
        <p><i class="material-icons">code</i>GitHub</p>
      </a>

      <a mat-list-item (click)="logout()">
        <p><i class="material-icons">logout</i>Logout</p>
      </a>

      <a mat-list-item routerLink="usuarios/id">
        <p><i class="material-icons">person</i>Usuário Logado</p>
      </a>
	  </mat-nav-list>
	</mat-drawer>

	<div class="sidenav-content">
		<button class="menu mat-elevation-z8" (click)="drawer.toggle()" mat-icon-button>
			<mat-icon>menu</mat-icon>
		</button>
		<router-outlet></router-outlet>
	</div>
</mat-drawer-container>
