.container{
	height: 100%;
}

.sidenav{
	width: 13rem;
	color: white;
  background-color: #3F51B5;
}

.sidenav i {
	margin-right: .6rem;
  color: white;

}

.sidenav a {
	color: white;
}

.menu {
	margin: 1rem 0 0 1rem;
	color: white;
  background-color: #3F51B5;
}

p{
  display: flex;
  color: white;
}
