/* You can add global styles to this file, and also import other style files */
@import '../node_modules/ngx-toastr/toastr.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

*{font-size: 0.8rem;}
html, body { height: 100%; }
body { padding: 0; margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
