<div class="container mat-elevation-z8">
  <h1 class="full-width">Atualizando Plano</h1>

  <form class="form">
    <div class="agrupado">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Descrição</mat-label>
        <input
          [(ngModel)]="plano.descricao"
          name="descricao"
          [formControl]="descricao"
          required
          matInput
          placeholder="Ex. Trimestral"
        />
        <mat-icon matSuffix>text_snippet</mat-icon>
      </mat-form-field>

      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Preço</mat-label>
        <input
          [(ngModel)]="plano.preco"
          name="preco"
          type="number"
          [formControl]="preco"
          required
          matInput
          placeholder="Ex. 109.90"
        />
        <mat-icon matSuffix>attach_money</mat-icon>
      </mat-form-field>
    </div>

    <div class="agrupado">
      <mat-form-field class="fullWidth" appearance="outline">
        <mat-label>Quantidade de Meses</mat-label>
        <input
          [formControl]="quantidadeMeses"
          [(ngModel)]="plano.quantidadeMeses"
          name="quantidadeMeses"
          type="number"
          required="true"
          matInput
          placeholder="Ex. 3"
        />
        <mat-icon matSuffix>filter_1</mat-icon>
      </mat-form-field>

      <mat-form-field class="fullWidth" color="primary" appearance="outline">
        <mat-label>Data Vigência</mat-label>
        <input
          [(ngModel)]="plano.vigencia"
          [formControl]="vigencia"
          matInput
          type="date"
          name="vigencia"
          id="vigencia"
        />
        <mat-icon matSuffix>calendar_month</mat-icon>
      </mat-form-field>
    </div>
  </form>
  <div class="button">
    <button
      [disabled]="!validaCampos()"
      (click)="update()"
      class="mat-elevation-z4"
      mat-raised-button
      color="primary"
    >
      Atualizar
    </button>
    <button
      routerLink="../../"
      class="mat-elevation-z4"
      mat-raised-button
      color="warn"
    >
      Cancelar
    </button>
  </div>
</div>
